@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: crimson;
    --primaryIconColorHover: #5d51e8;

    --nightmodeBgColor: black;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li{
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    font-size: small;
  }

/*title*/
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/*layout*/
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/*logo and navbar*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: var(--primaryTextColor);
}

nav>a{
    display: flex;
    float: left;
    padding: 25px;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    border: none;
    color: black;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

nav>a:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

nav>a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom;
}

.navigation a:hover {
    color: crimson;
    transition: all 0.3s ease-in-out;
}



/*burger*/
.burger{
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px; 
  right: 35px;
}

.burger div{
    -moz-window-shadow: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

@media screen and (max-width: 1000px) {
    p {
      font-size: 0.9rem;
      line-height: 1.8;
    }
  
    .grid-3 {
      gap: 1rem;
    }
  
    .skills-right ul li {
      font-size: 0.9rem;
    }
  }

/*hero section*/
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span{
    color: var(--primaryIconColor);
}

.hero-right img{
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-right{
    display: flex;
    justify-content: center;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
  color: beige;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}


/*service section*/
#services{
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title{
    margin: 0 auto;
}

.services-title{
    text-align: center;
}

.service{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon{
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg{
    fill: var(--primaryIconColor);
}

/*education*/
#skills{
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education{
  display: flex;
  gap: 2rem;
}

.education .line{
  padding: 0 0.7rem;
}

.education .line div{
  width: 2px;
  height: 100%;
  background: var(--borderColor);
  position: relative;
}

.education-info p{
  margin: 0.6rem 0 1.4rem;
}

.education-years{
  margin-bottom: 3rem;
}

/*titik di garis edu*/
.education-line div:before{
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-list ul{
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: red;
}

/* Contact Section - Right Side */
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  /* padding: 0.8rem 1rem; */
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer Section */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: #000;
}
